<ion-content >

  <div class="container">
    <div class="form" padding>
      <ion-icon name="lock"></ion-icon>
      <h1>Reset Password</h1>
      <div>
          <form [formGroup]="resetPasswordForm" >
            <input placeholder="Enter Your Email" type="email" formControlName="email" [class.invalid]="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched" type="email"  >
     

          <div class="error">
            <div *ngIf="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched" class="messages">
              Please enter a valid email.
            </div>
          </div>

          <!-- <button   type="submit" (click)="resetPassword(resetPasswordForm)" 
          [disabled]="!resetPasswordForm.valid" ></button> -->

          <!-- <div class="forgot">
            <button (click)="goToReg()">Don't have an account?</button>
          </div> -->
          <!-- <div class="create">
            <button >Already have and account?</button>
          </div> -->
          
          <p>
            
            <button   type="submit" (click)="resetPassword(resetPasswordForm)" 
            [disabled]="!resetPasswordForm.valid">Submit</button>
     
    
          </p>
            </form>
        
      </div>
    </div>
  </div>


</ion-content>