<ion-header>
  <button>distance</button>

  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Places Autocomplete</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div *ngFor = "let plase  of placez" >
place{{plase.legs.distance}}
</div> -->



<p *ngIf="yourBoolean"> Estimated distance:{{distance }}</p>
<p  *ngIf="yourBoolean"> Estimated duration:{{duration }}</p>

<ion-content>
  <form [formGroup]="directionForm"  (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <input class="input" #autoCompleteInput formControlName="destination" />
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!directionForm.valid">Get Direction</ion-button>
  </form>

  <div #mapElement class="map"></div>

  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>

</ion-content>