<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="openCamera()" fill="clear"> -->
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
        
      <!-- </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> Outbound Driver's Profile & History
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container" >
<div class="top" padding>
  <div class="driverDetails" [ngClass]="{'hide' : !come}" *ngFor="let driver of ViewOutbound">
    <div class="profilepic">
      <p>Driver's Personal Information</p>
      <div class="profileimage">
        <!-- <img src="../../assets/girl.jfif"> -->
        <img *ngIf="!driver.image" src="../../assets/mthombologo (1).png" alt=""> 
        <img *ngIf="driver.image" src="{{ driver.image }}" alt="">
      </div>
    </div>
    <div class="profiledetails">
      <p id="name">{{ driver.DriverName }}</p>
      
      <p>{{ driver.truckcode }}</p>
      <p>{{ driver.RegistarionNumberPlates }}</p>
      <!-- <p id="email">Fumza@gmail.com</p> -->
      <p>{{ driver.numbers }}</p>
      <p id="adres">{{ driver.companyaddress }}</p>
      <button (click)="switch()" (click)="SaveUpdates()">Edit Profile</button>
    </div><!-- display -->


  </div>

  <div class="driverDetails" id="driverDetails" [ngClass]="{'hide' : come}"  *ngFor="let driver of ViewOutbound">
    <div class="profilepic">
      <p>Driver's Personal Information</p>
      <div class="profileimage">
      
        <img *ngIf="!driver.image" src="../../assets/mthombologo (1).png" alt=""> 
        <img *ngIf="driver.image" src="{{ driver.image }}" alt="">
      </div>
    </div>
    <div class="profiledetails">
      <input placeholder="Full names" [(ngModel)]="DriverName">
      <input placeholder="Phone number" [(ngModel)]="numbers" maxlength="10" (keyup)="getPhoneInput($event)" type="tel">
      <input placeholder="Registration no." [(ngModel)]="RegistarionNumberPlates">
      <input placeholder="Company name" [(ngModel)]="TruckSourcess">
      <input placeholder="Company address" [(ngModel)]="companyaddress">
      <ion-button (click)="presentAlertUpdate()">Update Profile</ion-button>
    </div>
  </div><!-- update -->

  <div class="tripDetails">
    <h3>Details Per Trip</h3>
    <div class="scrollreceipts" >
      <div class="card" *ngFor="let loads of ViewOutboundMasses">
        <div class="leftside">
          <p class="time" style="color: transparent;">--</p>
          <p>Reference No.</p>
          <p>Truck Load</p>
          <p>Destination</p>
          <p>Distance in km</p>
          <p>Duration</p>
        </div>
        <div class="rightside">
          <p class="time">{{ loads.date }}</p>
          <p>: {{ loads.driverID }}</p>
          <p>: {{ loads.ovarallMass }} kg</p>
          <p>: {{ loads.destination }}</p>
          <p>: {{ loads.distance }} </p>
          <p>: {{ loads.duration }}</p>

          <button id="btndetails" [routerLink]="['/outbound-pdf', loads.truckcode]">Details</button>
        </div>
      </div>
    </div>
  </div>
      <!-- div to update drivers information -->

</div><!-- end of profile details -->


<div class="graph">
  <div class="tops">
    <h3 *ngFor="let driver of ViewOutbound">Materials delivered by {{ driver.DriverName }} overtime</h3>
    <div class="boxes">
      <P>PAPER <br><span>{{ paperTotal }} kg</span></P>
      <P>PLASTIC <br><span>{{ plasticTotal }} kg</span></P>
      <P>ALUMINIUM <br><span>{{ alumTotal }} kg</span></P>
      <P>GLASS <br><span>{{ glassTotal }} kg</span></P>
    </div>
  </div>
  <div class="canvas">
    <canvas #barChart  >
    </canvas>
  </div>
</div>


</div>
</ion-content>
