<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Direction with GeoLocation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"  id="places" name="search" [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!directionForm.valid">Get Direction</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable   (click)="chooseItem(item)">
      {{ item }}
    </ion-item>
  </ion-list>
  
  <div #mapElement class="map"></div>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>


  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Enter address</ion-title>
      <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true"   (ionInput)="updateSearch()" ></ion-searchbar>
    </ion-toolbar>
  </ion-header> -->

    

</ion-content>
