<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> Manage Administrators here
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content>  
    <div class="mask" *ngIf="isUser === true">  
      <div class="the-dismiss" (click)="hideUser()">
        <ion-icon id="edit-icon2" src="../../assets/close.svg" alt=""></ion-icon>
      </div>
      <div class="profile-info" *ngIf="isProfile === true">
        <div class="three-circles">
          <div id="color-one"></div>
          <div id="color-two"></div>
          <div id="color-three"></div>
        </div>
        <div class="profile-div">
          <div class="circle-picture">
            <img *ngIf="!image" src="../../assets/mthombologo (1).png" alt=""> 
            <img  *ngIf="image" src="{{image}}" alt="">
          </div>
        </div>
        <div *ngIf="!registerForm">
        <div class="the-info">
          <p><b>{{ name }}</b></p>          
        </div>
        <div class="user-phone">
          <p>{{number}}</p>
        </div>
        <div class="user-role">
          <p><b>{{ position }}</b></p>
        </div>
        <div class="delete">
          <ion-icon name="trash" (click)='presentAlertDelete(id)'></ion-icon>
        </div>
      </div>
        <!-- end of user-info pop-over -->

      </div>
      <div class="adding-users" *ngIf="isProfile === false">
        <div class="three-circles">
          <div id="color-one"></div>
          <div id="color-two"></div>
          <div id="color-three"></div>
        </div>
        <form [formGroup]="signupForm">
        <div class="user-inputs">          
          <div class="user-div">
            <div class="input-icon">
              <ion-icon name="person"></ion-icon>
            </div>
            <input class="inputs" type="email" formControlName="email" placeholder="Enter Email" [(ngModel)]="email" this.email.reset autocomplete="off" autocorrect="off" id="myInput" value="default@example.com"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
            <div *ngIf="!signupForm.controls['email'].valid
            && signupForm.controls['email'].touched" class="error">
              <div class="messages">
                Please enter email address..
              </div>
            </div>
        </div>
        <div class="user-div">
          <div class="input-icon">
            <ion-icon name="person"></ion-icon>
          </div>
          <input class="inputs" formControlName="password" placeholder="Enter Password" [(ngModel)]="password" type="password" this.password.reset autocomplete="off" autocorrect="off"  id="myInput" value="password" >
          <div *ngIf="!signupForm.controls['password'].valid
          && signupForm.controls['password'].touched" class="error">
            <div class="messages">
           Enter the correct password .
            </div>
          </div>
      </div>
      <div class="user-div">
        <div class="input-icon">
          <ion-icon name="person"></ion-icon>
        </div>
        <input class="inputs" placeholder="Identity Number" [(ngModel)]="idnumber"  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==13) return false;" maxlength="13"  [ngModelOptions]="{standalone: true}" >
    </div>
        </div>
      </form>
        <div class="the-button">
          <ion-button id="reg-button" (click)="saveNewUseer()">Register</ion-button>
        </div>
      </div>

      <!-- end of add-user pop-over -->
    </div>
    
      <!-- End of View-user0-profile Pop-over -->
  <div class="background-Logo">
    <img src="../../assets/icon/Asset 10.svg" alt="">
  </div>
    <div class="cont-container" >
      <div padding class="left" >
        <div padding class="profile" *ngFor="let myprofiles  of newuserprofile; let z = index" (click)='AddUser(myprofiles.id)' (click)='AddUserToForm(myprofiles.id)' (click)="showUser()">
           <div class="names">
            <h4>{{ myprofiles.name }} {{ myprofiles.surname }}</h4> 
            <p>{{ myprofiles.position }}</p>
            <p>{{ myprofiles.email }}</p>
            
            <div class="image">
              <img *ngIf="!myprofiles.image" src="../../assets/mthombologo (1).png" alt=""> 
              <img  *ngIf="myprofiles.image" src="{{myprofiles.image}}" alt="">
            </div>
          </div>
          </div>
          
        <ion-fab>
          <ion-fab-button id="the-fab" (click)="showRegisterForm()" ><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab>

      </div>
  
      <div class="right" *ngIf="!registerForm" >
        <div class="pic" padding >
       <ion-avatar>
        <img *ngIf="!image" src="../../assets/mthombologo (1).png" alt=""> 
        <img  *ngIf="image" src="{{image}}" alt="">
        </ion-avatar>
        </div>
        <p id="borderb"></p>
        <div padding class="info" >
          <h4>{{name}}</h4>
          <p>{{email}}</p>
          <p>{{number}}</p>
          <p style="font-weight: bold;padding-top: 3px;"> {{position}}</p>
          <p>{{ email }}</p>
          <!-- <p style="font-weight: bold;padding-top: 3px;"> {{address}}</p> -->
          <button (click)='presentAlertDelete(id)'>delete user</button>
        </div>
  
        <ion-fab >
          <ion-fab-button (click)="showRegisterForm()" ><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab>
    </div>

  <!-- this form appears when fab button is clicked -->

    <div padding class="registerform"  class="right" *ngIf="registerForm" >
      <ion-button class="close"  fill="clear" (click)="showRegisterForm()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>

      <h1>Register</h1>
      <form [formGroup]="signupForm">
      <input class="inputs" type="email" formControlName="email" placeholder="Enter Email" [(ngModel)]="email" this.email.reset autocomplete="off" autocorrect="off" id="myInput" value="default@example.com"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
      <div *ngIf="!signupForm.controls['email'].valid
      && signupForm.controls['email'].touched" class="error">
        <div class="messages">
          Please enter email address..
        </div>
      </div>
      <!-- <input class="inputs" type="text" formControlName="positions" placeholder="Enter position" [(ngModel)]="positions"  this.position.reset autocomplete="off" autocorrect="off" id="myInput" value="position"> -->
      <input class="inputs" formControlName="password" placeholder="Enter Password" [(ngModel)]="password" type="password" this.password.reset autocomplete="off" autocorrect="off"  id="myInput" value="password" >
      <div *ngIf="!signupForm.controls['password'].valid
      && signupForm.controls['password'].touched" class="error">
        <div class="messages">
       Enter the correct password .
        </div>
      </div>
     <input class="inputs" placeholder="Identity Number" [(ngModel)]="idnumber"  pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==13) return false;" maxlength="13"  [ngModelOptions]="{standalone: true}" >
     <!-- <div *ngIf="!signupForm.controls['idnumber'].valid
     && signupForm.controls['idnumber'].touched" class="error">
       <div class="messages">
      Enter the correct idnumber .
       </div>
     </div> -->
      <!-- <textarea placeholder="Physical Address" type="text" class="inputs2" name="" id="" cols="30" rows="10" [(ngModel)]="addres" this.addres.reset autocomplete="off" autocorrect="off" id="myInput" value="addres" [ngModelOptions]="{standalone: true}"></textarea>  -->
      </form>
     <button ion-button type="reset" onclick="document.getElementById('myInput').value =''" (click)="saveNewUseer()" >Register</button>
     
     <!-- <div class="bottomdeco">
    <img  src="../../assets/binsPopup  2.svg">
     </div> -->
    </div>
  
    </div>
    
    <!-- <button (click)="AddUser(id)">view</button> -->

  </ion-content>