// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #265902;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #3171e0;
  // --ion-color-primary-tint: #4c8dff;
  

  /** secondary **/
  --ion-color-secondary: #13bbbb;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #c5a60a;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #80056f;

  /** warning **/
  --ion-color-warning: #d12c6f;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-daily:#80056f;

  --ion-color-noColor: #80057000;
}
.resetModal .modal-wrapper {
  --width: 40%;
  --height: 40%;
}
$fab-size: 36px !default;

ion-split-pane{ 
  --border: red !important;
  ion-menu{
   --background: var(--ion-color-secondary) !important; 
      ion-content{            
          --background: var(--ion-color-secondary) !important; 
          ion-list-header{ 
              --background: var(--ion-color-secondary) !important;
              --color: #FFFFFF !important;   
          }
          ion-item{
              --background: transparent !important;
               --color: #FFFFFF !important;
               ion-icon{ padding-right: 10px !important; }
          }
      }
  }
}

//FONTS


@font-face {
   font-family: 'SkarpaLT';
//    font-style: normal;
//    font-weight:normal;
    src: url('../assets/fonts/SkarpaLt.ttf');
  
  }
  @font-face {
    font-family: 'Brandish';
    // font-style: bold;
    // font-weight:bold;
     src: url('../assets/fonts/Brand__.ttf');
   
   }
   @font-face {
    font-family: 'Microsoft YaHei';
    // font-style: bold;
    // font-weight:bold;
     src: url('../assets/fonts/MSYH.TTC');
   
   }
   @font-face {
    font-family: 'SHKODER 1989';
    // font-style: light;
    // font-weight:light;
     src: url('../assets/fonts/Shkoder_1989_LIGHT.otf');
   
   }

 

   .split-pane-visible >.split-pane-side {
    min-width: 330px!important;
    max-width: 330px!important;
  }

  ::-webkit-scrollbar, *::-webkit-scrollbar { display: none; }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #a66fbe !important;
    height: 10px !important;
  }