
#grocer {
    position: absolute;
    bottom: 0;
}
ion-list {
  //  border: 2px solid goldenrod !important;

    ion-menu-toggle {
        //border: 1px solid red !important;

        ion-item {
          //  border: 1px solid blue;
        }
    }
}
.active {
    --background: #558c03  !important;
   // border: 1px solid blue;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
    width: 96%;

    margin-left: 2% !important;
    margin-top: 0;
    border-radius: 5px;
ion-icon {
    color: white;
}
}
#signout {
    cursor: pointer !important;
}
ion-label {
      color: white;
      font-weight: 200 !important;
     font-family: 'lato';
    // font-weight: lighter;
      font-size: 18px !important;
      letter-spacing: 0.8px;
     // border: 1px solid blue;
}
.profile {
  //  border: 1px solid blue;
    height: 200px !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #022a2e;
    .profilepic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: white;
    }
h4,p {
color: white;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 17px;
}
#border {
    border: 0.5px solid rgb(185, 184, 184);
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
}
}

#names, #position {
font-family: 'lato';
font-weight: lighter;
letter-spacing: 0.8px;
}
#position {
    font-size: 12px;
}

.version {
   // border: 1px solid red;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0 !important;

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        //border: 1px solid rgb(243, 239, 24);
        margin: 0 !important;
        padding: 0 !important;
        img {
            width: 25px;
            margin: 0 !important;
            padding: 0 !important;
        }
        h3 {
            margin: 0 !important;
            padding: 0 !important;
            font-size: 15px;
            padding-left: 6px !important;
            font-family: 'brandish';
            color: white;
            letter-spacing: 0.7px;

        }
    }

    .terms {
       // border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
              margin: 0 !important;
        padding: 0 !important;  
        color: white;
        font-family: 'lato';
        font-weight: lighter;
        }
    .small {
        font-size: 10px;
    }
    #smalest {
        padding: 5px !important;
        text-align: center;
    }
    }
}

