<ion-header
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     
      <ion-button  fill="clear" (click)="switchBack()" slot="icon-only"  ><ion-icon name="arrow-back"></ion-icon></ion-button>
      Record all incoming material
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="inbound-123">
  
  <div class="mother" *ngIf="popOpOpen === true" >
<div class="slides-container">

  <div class="children-slides">
    <ion-button id="close"  fill="clear"  slot="icon-only" (click)="goAway()" ><ion-icon name="close-circle-outline"></ion-icon></ion-button>

    <h2>  <img id="reclaimer" src="../../assets/inbound.svg">Inbound drivers</h2>
    <img id="image" src="../../assets/recycle.svg">

    <ion-slides #slides pager [options]="slideOpts" (ionSlideDidChange)="slideChanged()" >

      <!-- slide 1 -->
      <ion-slide class="slideOne">
     
          <div [ngClass]="{'drivers-container_transforms': transtioning, 'drivers-container': !transtioning}">
              <div class="list"><!-- div containing names of drivers -->
                <ion-toolbar id="two">
                 <div class="Searhcer">
                      <div class="results">
                        <!-- <p *ngFor="let records of searchResults" (click)="selectLocation(records)" (click)="nextislide()"> {{ records }} </p> -->
                        <div class='count' *ngIf="searchResults.length > 0">
                          <!-- {{ searchResults.length }} -->
                        </div>
                      </div>
                      <ion-searchbar name="search" placeholder="Search by Driver's Code" (ionInput)="getItems($event)"></ion-searchbar>
                    </div>
                    
                </ion-toolbar>
                <div class="items">
                  <div class="individuals">
                    <!-- <ion-card *ngFor="let records of recordinbounddisplaysz" (click)='presentAlertAddUser(records.id)'>
                      <h4>{{ records }}</h4>
                      <h4>{{ records.DriverName }}</h4>
                      <p>{{ records.truckcode }}</p>
                      <p>{{ records.RegistarionNumberPlates }}</p>
                    </ion-card> -->

                    <div *ngIf="searchResults.length > 0">
                      <ion-card *ngFor="let records of searchResults" (click)='presentAlertAddUser(records.id)'>
                        <h4>{{ records.data.DriverName }}</h4>
                        <p>{{ records.data.truckcode }}</p>
                      <p>{{ records.data.RegistarionNumberPlates }}</p>
                      <!-- <p>{{ records.reclaimercode }}</p> -->
                      </ion-card>
                    </div>

                    <div *ngIf="searchResults.length == 0">
                      <ion-card *ngFor="let records of recordinbounddisplaysz" (click)='presentAlertAddUser(records.id)'>
                        <h4>{{ records.data.DriverName }}</h4>
                        <p>{{ records.data.truckcode }}</p>
                      <!-- <p>{{ records.IDnumber }}</p> -->
                      <p>{{ records.data.RegistarionNumberPlates }}</p>
                      </ion-card>
                    </div>
                    
                
                  </div>
                  <div class="btn-new-driver">
                    <ion-button id="driver" (click)="animateJs()" [disabled]="transtioning">
                        <ion-icon name="ios-add"></ion-icon> New Driver
                    </ion-button>
                  </div>
                </div>
              </div> <!-- end of list container -->
              <!-- form on the right for listof users -->
              <div class="small-slide animated "   [ngClass]="{'slideInLeft':transtioning, 'slideInRight': !transtioning}">
                <ion-toolbar color="primary">
                  <ion-buttons slot="start">
                    <ion-button mode="ios" (click)="animateJs()" color="light">
                      <ion-icon name="arrow-back"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-title class="ion-text-left">Create New Driver</ion-title>
                </ion-toolbar>
                <div class="form">
                  <!-- <div class="profileholder">
                    <div class="profile" >
                      <img *ngIf="!image" src="../../assets/mthombologo (1).png" alt=""> 
                      <img *ngIf="image" src="{{ image }}" alt="">
                      <input id="disapear" class="image-upload" type="file" accept="image/*" (change)="changeListener($event)">
                      <ion-button fill="clear" for="disapear" id="Addd" name="camera"><ion-icon id="Addd" name="camera" ></ion-icon></ion-button>
                    </div>
                  </div> -->

                  <div class="profileholder">
                    <img *ngIf="!image" src="../../assets/mthombologo (1).png" alt=""> 
                    <img *ngIf="image" src="{{ image }}" alt="">
                    <input id="disapear" class="image-upload" type="file" accept="image/*" (change)="changeListener($event)">
                    <label for="disapear">
                      <ion-icon id="Addd" name="camera"></ion-icon>
                    </label>
                  </div>

                  <form [formGroup]="RegisterForm">
                    <div class="inputs">
                      <input type="text" placeholder="Driver Name & Surname" [(ngModel)]="DriverNameInput" formControlName="DriverNameInput">
                      <input type="tel" placeholder="Phone Numbers" [(ngModel)]="PhoneNumbersInput" formControlName="PhoneNumbersInput" maxlength="10" (keyup)="getPhoneInput($event)">
                      <input type="text" placeholder="Registration No." [(ngModel)]="RegistarionNumberPlatesInput" formControlName="RegistarionNumberPlatesInput">
                      <input type="text" placeholder="Company Name" [(ngModel)]="TruckSourcessInput" formControlName="TruckSourcessInput"> 
                      <input type="text" placeholder="Campany Address" [(ngModel)]="CompanyAddressInput" formControlName="CompanyAddressInput">
                    </div>
                    <!-- <div id="save">
                      <ion-button id="btn" (click)="nextislide()" >Save driver</ion-button>
                     </div> -->
                  </form>
                </div>
              </div>
          </div>
         </ion-slide>



    <!-- slide 2 id="materials-form"-->
      <ion-slide id="slide2"> 
        <div id="slide2cont"  >
          <!-- this is for the materials form -->
          <div class="waste-materials">
            <div (click)="togglePaper()" id="isPaper">PAPER</div>
            <div (click)="togglePlastic()" id="isPlastic">PLASTIC</div>
            <div (click)="toggleAluminium()" id="isAluminium">ALUMINIUM</div>
            <div (click)="toggleGlass()" id="isGlass">GLASS</div>
    
          </div>

          <div class="SecSection">
            <!-- For Paper -->
    
            <div  class="Material-inputs" id="forPaper" *ngIf="isPaper === true">
              <!-- paper -->
              <!-- <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="togglePlastic()">Next</ion-button>
              </div> -->
              <ion-grid>
                <ion-row >
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PAP005mass2">
                    <p>PAP005</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PAP007mass2">
                    <p>PAP007</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PAP001mass2">
                    <p>PAP001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PAP003mass2">
                    <p>PAP003</p>
                  </ion-col>

                  <ion-col class="input-textfields" size="12">
                     <!-- <p id="totals">Total Paper  =  <span>5140 kg</span></p> -->
                  </ion-col>
    
                </ion-row>
              </ion-grid>

             
            </div>
            <!-- For PLAstic -->
            <div class="Material-inputs" id="forPlastic" *ngIf="isPlastic === true">
              <!-- plastic -->
              <!-- <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="toggleAluminium()">Next</ion-button>
              </div> -->
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="HD001mass2"><br>
                    <p>HD001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="LD001mass2"><br>
                    <p>LD001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="LD003mass2"><br>
                    <p>LD003</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PET005mass2"><br>
                    <p>PET005</p>
                  </ion-col>
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PET001mass2"><br>
                    <p>PET001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" step="1" min="0" placeholder="Weight in Kilograms" [(ngModel)]="PET003mass2"><br>
                    <p>PET003</p>
                  </ion-col>

                  <ion-col class="input-textfields" size="12">
                    <!-- <p id="totals">Total Plastic  =  <span>5140 kg</span></p> -->
                 </ion-col>
    
                </ion-row>
              </ion-grid>
            </div>
            <!-- For Aluminium -->
            <div class="Material-inputs" id="forAluminium" *ngIf="isAluminium === true">
             
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" placeholder="Weight in Kilograms" step="1" min="0" [(ngModel)]=" NFAL01mass2"><br>
                    <p id="CODE">NFAL01</p>
                  </ion-col>

                  <ion-col class="input-textfields" size="12">
                    <!-- <p id="totals">Total Aluminium  =  <span>5140 kg</span></p> -->
                 </ion-col>

                </ion-row>
              </ion-grid>
            </div>
            <!-- For Glass -->
            <div class="Material-inputs" id="forGlass" *ngIf="isGlass === true">
              <!-- Glass -->
              <!-- <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="CheckInputsEmptyString()">Save</ion-button>
              </div> -->
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" placeholder="Weight in Kilograms" step="1" min="0" [(ngModel)]="GH001mass2"><br>
                    <p id="CODE">GL001</p>
                  </ion-col>

                  <ion-col class="input-textfields" size="12">
                    <!-- <p id="totals">Total Glass  =  <span>5140 kg</span></p> -->
                 </ion-col>

                </ion-row>
              </ion-grid>
            </div>
          </div>
        </div>
      
      </ion-slide>

     </ion-slides>

     <div class="btn-slides">
      <ion-button id="backbtn" fill="clear" (click)="previslide()" *ngIf="isBeginning">back</ion-button>
     
      <!-- <ion-button id="nextbtn" (click)="nextislide()">{{nextText}}</ion-button> -->
      <ion-button id="nextbtn" fill="clear" *ngIf="!isEnd" (click)="nextislide()">Next</ion-button>
      <ion-button id="done" fill="clear" [disabled]="!RegisterForm.valid" *ngIf="isEnd" (click)="CheckInputsEmptyString()" (click)="nextislide()">Done</ion-button>
    </div>
  </div><!-- end of children-slides -->
</div><!-- end of slides -->

    <!-- <div class="dismissOverlay" (click)="goAway()"></div> -->
 </div>
 <!-- end of mother -->

<!-- adding parent div -->
<div class="parentDiv">
  <div class="top-blocks">
    <div class="waste-blocks" id="Paper" (click)="showPopUp('paper')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>PAPER</p>
    </div>
    <div class="waste-blocks" id="Plastic" (click)="showPopUp('plastic')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>PLASTIC</p>
    </div>
    <div class="waste-blocks" id="Aluminium" (click)="showPopUp('aluminium')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>ALUMINIUM</p>
    </div>
    <div class="waste-blocks" id="Glass" (click)="showPopUp('glass')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>GLASS</p>
    </div>
  </div>
  <div class="history" >
    <h4 class="Title" >All Storage Material</h4>
   
    <div class="history-labels">  
      <div class="userId">Code</div>
      <div class="name">Driver Name</div>
      <div class="regNo">Registration No.</div>
      <div class="icon">Details</div>
      <div></div>
     </div><!-- end of history-labels -->
<div class="scrolling">
    <div class="itemList" *ngFor="let records of recordinbounddisplaysz">
      <div class="userId" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.data.truckcode }}</div>
      <div class="name" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.data.DriverName }}</div>
      <div class="regNo" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.data.RegistarionNumberPlates }}</div>
      <div class="icon"><ion-button  (click)="switchView(records.id)" fill="clear"  slot="icon-only"><ion-icon mode="ios" name="eye"></ion-icon></ion-button>
      </div>
      <!-- <div>
        <ion-icon name="trash" (click)='presentAlertDelete(records.id)'></ion-icon>
      </div> -->
       </div>
    </div>
  </div><!-- end of history -->
</div>
  
</ion-content>

<!--
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO 
-->

<ion-content id="driverDetailz">
  <div class="container" >
  <div class="top" padding>
    <div class="driverDetails" *ngFor="let driver of ViewOutbound">
      <div class="profilepic">
        <p>Driver's Personal Information</p>
        <div class="profileimage">
          <!-- <img src="../../assets/girl.jfif"> -->
          <img *ngIf="!driver.image" src="../../assets/mthombologo (1).png" alt=""> 
          <img *ngIf="driver.image" src="{{ driver.image }}" alt="">
        </div>
      </div>
      <div class="profiledetails">
        <p id="name">{{ driver.DriverName }}</p>
        
        <p>{{ driver.truckcode }}</p>
        <p>{{ driver.RegistarionNumberPlates }}</p>
        <!-- <p id="email">Fumza@gmail.com</p> -->
        <p>{{ driver.numbers }}</p>
        <p id="adres">{{ driver.companyaddress }}</p>
        <!-- <button>Edit Profile</button> -->
      </div>
    </div>
  
    <div class="tripDetails">
      <h3>Details Per Trip</h3>
      <div class="scrollreceipts" >
        <div class="card" *ngFor="let loads of ViewOutboundMasses">
          <div class="leftside">
            <p class="time"></p>
            <p>Reference No.</p>
            <!-- <p>Truck Load</p> -->
          </div>
          <div class="rightside">
            <p class="time">: {{ loads.date }}</p>
            <p>: {{ loads.truckcode }} </p>
            <!-- <p>: {{ loads.ovarallMass }} kg</p> -->
  
            <button [routerLink]="['/inbound-pdf', loads.truckcode]">Details</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  
  
  <div class="graph">
    <div class="tops">
      <h3 *ngFor="let driver of ViewOutbound">Materials delivered by {{ driver.DriverName }} overtime</h3>
      <div class="boxes">
        <P>PAPER <br><span>{{ paperTotal }} kg</span></P>
        <P>PLASTIC <br><span>{{ plasticTotal }} kg</span></P>
        <P>ALUMINIUM <br><span>{{ alumTotal }} kg</span></P>
        <P>GLASS <br><span>{{ glassTotal }} kg</span></P>
      </div>
    </div>
    <div class="canvas">
      <canvas #barChart  >
      </canvas>
    </div>
  </div>
  </div>
  </ion-content>
  

