
 .hide {
  display: none !important;
}
.container {
//  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

 
.head {
 // border: 1px solid blue;
  height: 5%;
  p {
    //  border: 1px solid red; 
      position: relative; 
      font-family: 'lato';
      padding-bottom: 1em ;
      font-size: 0.9em;
      letter-spacing: 0.5px;
      left: 1.5%;
      &::after {
          position: absolute;
          bottom: 5%;
          left: 0%;
          width: 2.5%;
          height: 2px;
          content: '';
          background: #ddd;
          border-radius: 50px;
      
        }
  }
}
  .top {
     // border: 3px solid blue;
      height: 50%;
      display: flex;
      flex-direction: row;
      position: relative;
     
.driverDetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.075), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
  width: 48%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
 // border: 2px solid red;
 background: whitesmoke;



 
  
  .profilepic {
   //border: 2px solid red;
      width: 60%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
          // border: 1px solid black;
          position: absolute;
          top: -1%;
          left: 1%;
          font-family: 'lato';
          padding-bottom: 1em ;
          font-size: 0.9em;
          letter-spacing: 0.5px;
          &::after {
              position: absolute;
              bottom: 5%;
              left: 0%;
              width: 16%;
              height: 2px;
              content: '';
              background: #ddd;
              border-radius: 50px;
          
            }
      }
      .profileimage {
         border: 2px solid rgb(211, 208, 208);
         width: 200px;
         height: 200px;
          border-radius: 50%;
          img {
              object-fit: cover;
              border-radius: 50%;
              height: 100%;
              width: 100%;
          }

      }
  }
  .profiledetails {
    //  border: 1px solid green;
      width: 40%;
    //  background: aqua;
     position: relative;
      // padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &::after {
          position: absolute;
          top: 10%;
          left: 0%;
          width: 2px;
          height: 80%;
          content: '';
          background: #ddd;
          border-radius: 50px;
      
        }
      
      p {
         // border: 1px solid black;
          margin: 0 !important;
          font-family: 'lato';
          padding: 2px;
          text-align: left;
          width: 70%;
          font-size: 1em;
          position: relative;
           top: -5%;
      }
      #adres {
         // border: 1px solid red;
          font-size: 0.8em;
          letter-spacing: 1px;
          padding-top: 5px;
      }
      #name {
          font-family: 'brandish';
          font-size: 1.5em;
          width: 100% !important;
          text-align: center;
          position: absolute;
          top: 15%;
      }
      #email {
          font-size: 0.8em;
          font-style: italic;
      }
      button {
          width: 150px;
          padding: 10px;
          font-size: 1em;
          position: absolute;
          top: 70%;
          border-radius: 5px;
          background: #1B4001;
          color: white;
          font-family: 'lato';
          letter-spacing: 0.4px;
      }
  }
}

#driverDetails {
  background: whitesmoke;
  .profiledetails {
      //border: 1px solid green;
      position: relative;

      &::after {
          position: absolute;
          top: 10%;
          left: 0%;
          width: 2px;
          height: 80%;
          content: '';
          background: #ddd;
          border-radius: 50px;
      
        }
      input {
         // border: 1px solid red;
          margin-top: 4%;
          border-radius: 5px;
          background: white;
          padding-left: 2% !important;
          box-shadow: 2px 1px 2px 1px rgba(184, 181, 181, 0.24);
          font-size: 1em;
          font-family: 'lato';
          width: 90%;
          height: 40px;
          border: none;
          outline: none;
      }
      ion-button {
          position:absolute ;
          bottom: 5%;
      }
  }
}
.tripDetails {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.075), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
  border-radius: 5px;
//  border: 1px solid green;
  width: 50%;
  position: relative;
  left: 2%;
  display: flex;
  flex-direction: column;
  background: whitesmoke;

  h3 {
      // border: 1px solid black;
       position: relative;
       top: -1%;
       left: 2%;
       font-family: 'lato';
       padding-bottom: 1em ;
       font-size: 0.9em;
       letter-spacing: 0.5px;
       &::after {
           position: absolute;
           bottom: 5%;
           left: 0%;
           width: 5%;
           height: 2px;
           content: '';
           background: #ddd;
           border-radius: 50px;
       
         }
   }

   .scrollreceipts {
     //  border: 2px solid red;
       height: 90%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;

       .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.075), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
           width: 48%;
           margin-left: 2%;
           height: 120px;
           border-radius: 5px;
           display: flex;
       //  border: 1px solid blue;
         position: relative;
           
          p {
             // border: 1px solid rgb(51, 50, 50); 
              margin: 0;
              padding: 0;
              font-size: 0.8em;
          }
           .leftside {
            //  border: 2px solid red;
              width: 35%;
              justify-content: left;
              align-items: center;
              align-content: center;
              padding-left: 2%;
              padding-top: 1% !important;
              .time {
                  text-align: left;
                  padding-bottom: 0.5em;
                  padding-top: 0.4em;
                 font-family: 'SkarpaLT';
                 //border: 1px solid red;
                  letter-spacing: 0.5px;
                  font-size: 0.7em;
              }

           }
           .rightside {
             // border: 2px solid black;
              width: 65%;
              position: relative;
              padding-top: 1% !important;
              .time {
                  text-align: right;
                 font-family: 'SkarpaLT';
                  padding-right: 0.5em;
                  letter-spacing: 0.5px;
                  font-size: 0.7em;
                  padding-bottom: 0.5em;
                  padding-top: 0.4em;
              }
              p {
                  padding-left: 5px;
              }

              button {
                width: 50%;
                background: #558c03;
                border-radius: 50px;
                color: white;
                padding: 3px;
                position: absolute;
                left: 47%;
                bottom: 0.8em;
                 // border: 2px solid red !important;
              }
          }
       }/* end of card */
   }
}

  }
.graph {
  //background: aqua;
  height: 45%;
  display: flex;
  flex-direction: column;

  .canvas {
     // background: aqua;
     border: 1px solid rgb(224, 223, 223);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.075), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
       height: 82%;
      width: 96%;
      position: relative;
      left: 2%;
      border-radius: 5px;

      canvas {
          height: 100% !important;
          width: 100% !important;
         
          background: rgba(255, 255, 255, 0.158) !important;
          border-radius: 12px !important;
      }
  }
.tops {
 // border: 2px solid red;
  height: 15%;
  display: flex;

  .boxes {
    //  border: 2px solid blue;
      width: 40%;
      position: absolute;
      right: 0;
      height: 5%;
      display: flex;
      p {
         // border: 1px solid red;
          font-size: 1em;
          width: 8em;
          height: 2.2em;
          margin: 0;
          font-family: 'lato';
      }
      span {
       //   color: red;
          font-size: 0.9em;
          font-family: 'lato';
          color: green;
      }
  }
}

  h3 {
      width: 50%;
      // border: 1px solid black;
       position: relative;
       top: -1%;
       left: 1%;
       font-family: 'lato';
       padding-bottom: 1em ;
       font-size: 0.9em;
       letter-spacing: 0.5px;
       width
       &::after {
           position: absolute;
           bottom: 5%;
           left: 0%;
           width: 5%;
           height: 2px;
           content: '';
           background: #ddd;
           border-radius: 50px;
       
         }
   }
}
@media screen and (min-width: 768px) and(max-width: 1024px) {
  

  .driverDetails {
      //border: 2px solid red;
      display: flex;
      flex-direction: column !important;
      .profilepic ,   .profiledetails {
       // border: 2px solid blue;
        width: 100% !important;
        
      }
      .profilepic {
        height: 70%;
      }
      .profiledetails {
        height: 30%;
        display: flex;
        flex-direction: column;
        #name {
        position: absolute;
        top: -35% !important;
        }
         p {
        //  border: 1px solid red;
          font-size: 1.3em;
        }
        
      }
   
  }
  .tripDetails {
   // border: 1px solid green;
    h3 {
      font-size: 1em;
    }

    .scrollreceipts {
      //border: 1px solid green;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
   
      .card {
        //border: 1px solid blue;
        width: 100% !important;
        margin: 1em;
      }
    }
  }
}

}
